Plugins/MoveIt/Content/Example/MoveIt_ExampleMap_BuiltData.uasset filter=lfs diff=lfs merge=lfs -text
Content/Boss/Kraken/Textures/Tex_KRAKEN_BODY_RoughnessMetallicSpecular.uasset filter=lfs diff=lfs merge=lfs -text
